__pycache__/
*.pyc
backend/venv/
backend/.venv/
.DS_Store
**/.DS_Store
*.pth
backend/checkpoints/
outputs/
*.obj
frontend/ui.py
backend/uploads/
.env
.env.local
frontend/node_modules/
frontend/.next/
frontend/dist/
